{% load static %}
<!DOCTYPE html>
<html lang="el">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Πίνακας Ελέγχου{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <header>

            <h1>Διαχείριση Bιβλίων</h1>
            <div class="logout-button">
        <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Αποσύνδεση</button>
        </form>
        </div>

    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Διαχείριση Βιβλίων</p>
    </footer>
</body>
</html>
